# Flask
FLASK_SECRET_KEY=ganti-dengan-random-string-panjang
FLASK_DEBUG=True

# JWT
JWT_SECRET_KEY=ganti-dengan-random-string-berbeda

# Database (MariaDB)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=filemanager

# File Upload
UPLOAD_FOLDER=uploads
MAX_FILE_SIZE_MB=50
